* {
	margin: 0;
	padding: 0;
	border-style: dashed;
	border-width: thin;
	border-bottom-color: white;
	background-color: none;
	color: none;
}

body {
	background: rgba(0,0,0,0.9) url("../img/background.png") no-repeat center center fixed;
	background-size: cover;
}

#logo img {
	height: auto;
	width: 150px;
	position: fixed;
	top: 0px;
	left: 0px;
	margin-left: 20px;
	margin-top: 8px;	
}

header ul {
	background-color: rgba(0,0,0,0.4);
	list-style-type:none;
	width: 100%;
	height: 48px;
	position: fixed;
	top: 0px;
	right: 0px;
}

header ul li {
	color: white;
	font-family: "Helvetica Neue", sans-serif;
	margin-top: 10px;
	cursor: hand;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	width: auto;
	float: right!important;
}

header ul li a {
	color: white;
	text-decoration: none;
}

header ul li:hover {
	cursor: hand;
	background-color: rgba(0,0,0,0.6);
	float: right!important;
}

#wow {
	height: 300px;	
	padding-top: 100px;
	padding-bottom: 40px;
}

#wow h1 {
	padding-left: 50px; 
	text-align: left;
	font-family: "Lato", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 96px;
	text-shadow: 2px 2px 2px #000;
	letter-spacing: -5px;
	color: white;
	padding-bottom: 50px;
}

#wow h2 {
	padding-left: 100px;
	font-family: "Lato", "Helvetica Neue", sans-serif;
	font-weight: bold;
	font-size: 42px;
	text-shadow: 2px 2px 2px #000;
	color: white;
}

.columns {
	width: auto;
	height: 450px;
	padding-left: 50px;	
}

.functs {
	font-family: "Lato", "Helvetica Neue", sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	text-shadow: 1px 1px 1px #000;
	color: white;
	height: 150px; 
	width: 320px;
	float: left!important;
	background-color: rgba(0,0,0,0.5);
	margin-right: 10px;
	padding-top: 30px;
}

.functs i {
	margin-right: 10px;
	font-size: 20px;
}

.functext {
	font-family: "Helvetica Neue", sans-serif;
	text-align: justify;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 1px 1px 1px #000;
	color: white;	
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	
}

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 100px;
	min-height: 100%;
}  /* must be same height as the footer */

#footer {
	background-color: rgba(0,0,0,0.2);
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear: both;
} 