* {
	margin: 0;
	padding: 0;
	#border-style: dashed;
	#border-width: thin;
	background-color: none;
	color: none;
}

#logo img {
	height: auto;
	width: 150px;
	position: fixed;
	top: 0px;
	left: 0px;
	margin-left: 20px;
	margin-top: 8px;	
}

header ul {
	background-color: rgba(0,0,0,0.4);
	list-style-type:none;
	width: 100%;
	height: 48px;
	position: fixed;
	top: 0px;
	right: 0px;
}

header ul li {
	color: white;
	font-family: "Helvetica Neue", sans-serif;
	margin-top: 10px;
	cursor: hand;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	width: auto;
	float: right!important;
}

header ul li a {
	color: white;
	text-decoration: none;
	cursor: hand;
}

header ul li:hover {
	cursor: hand;
	background-color: black;
	float: right!important;
}

body {
	background: rgba(0,0,0, 0.9) url("../img/background.png") no-repeat center center fixed;
	background-size: cover;
}

#revolution {
	height: 300px;	
	padding-top: 100px;
	padding-bottom: 40px;
}

#revolution p {
	padding-left: 50px; 
	text-align: left;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: bold;
	font-size: 72px;
	text-shadow: 2px 2px 2px #000;
	color: white;
}

.columns {
	width: 990px;
	height: auto;
	padding-left: 50px;	
}

.functs {
	font-family: "Helvetica Neue", sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 1px 1px 1px #000;
	color: white;
	height: 100px; 
	width: 320px;
	float: right!important;
	background-color: rgba(0,0,0,0.5);
	margin-right: 10px;
	padding-top: 30px;
}

.functext {
	font-family: "Helvetica Neue", sans-serif;
	text-align: justify;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 1px 1px 1px #000;
	color: white;	
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	
}